<html lang="<%- language.currentLanguage %>">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
    </head>
<body>
<nav>
    <img src="/img/GabSalon.png" alt="profile image" class="navImage">
</nav>
</body>
</html>