/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.about-page {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: auto;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20vh;
}

.about-section {
    padding-bottom: 10vh;
    width: 80%;
}

.about-container{
    margin-bottom: 4vh;
    border-bottom: 1px solid rgb(255, 234, 113);
    padding-bottom: 0.5vh;
}

.about-title{
    font-family: LoraTitle;
    font-size: 18px;
}

.customer-reviews{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 3%;
}

.about-review {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 1vh;
    color: black;
}

.about-comment{
    font-size: 13px;
    font-family: MontserratItalic;
}

.about-text{
    margin-top: 1vh;
    font-size: 14px;
}

.about-name-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2vh;
}

.about-link {
    color: rgb(54, 114, 243); 
    text-decoration: none; 
}

.about-link:hover {
    text-decoration: underline; 
}

@media (orientation: landscape) {
    .about-section {
        padding-bottom: 10vh;
        width: 50%;
    }
}